/* Browser styles reset*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles*/
body {
    font-family: sans-serif;
    color: #222;
    background-color: #f5f5e9;
}
#content {
    max-width: 1020px;
    margin-inline: auto;
}
.title {
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    color: #222;
}
.subtitle {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
