/* Browser styles reset*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles*/
body {
    font-family: sans-serif;
    color: #222;
    background-color: #f5f5e9;
    line-height: 1.25;
}
.container {
    max-width: 1020px;
    margin-inline: auto;
    padding-block: 1.5rem;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    color: #222;
}
.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.title, .subtitle {
    display: block;
    margin-block: 1rem;
}
ul {
   list-style: inside; 
}
#divUno,
#divDos{
    background-color: #ccc;
    padding: 50px;
}
#parrafoUno,
#parrafoDos {
    font-size: 20px;
    padding: 20px;
    background-color: darkblue;
    color: #fff;
}